<div class="container col-md-8 col-12 mt-4">
<h1>Editar Entrada</h1>

<%= render "form", instablog: @instablog %>
<hr>
<div>
  <%= link_to "Ver", @instablog, class: "btn btn-primary" %> 
  <%= link_to "Volver", instablogs_path, class: "btn btn-outline-primary" %>
</div>
</div>
