<h1>Editing instablog</h1>

<%= render "form", instablog: @instablog %>

<br>

<div>
  <%= link_to "Show this instablog", @instablog %> |
  <%= link_to "Back to instablogs", instablogs_path %>
</div>
