<p style="color: green"><%= notice %></p>
<div class="container col-md-8 col-12 mt-4">
  <div class="p-4">
    <h1 class="text-center mb-5 fw-bold">Instablogs</h1>

    <div id="instablogs">
      <% @instablogs.each do |instablog| %>
        <%= render instablog %>
        <p>
          <%= link_to "Show this instablog", instablog %>
        </p>
      <% end %>
    </div>

    <% if current_user.admin? %>
      <%= link_to "Nuevo Instablog", new_instablog_path, class: "btn btn-success w-100 text-center" %>
    <% end %>
  </div>
</div>
