<div class="container col-md-8 col-12 mt-4">
  <div class="p-4">


<h1>New instablog</h1>

<%= render "form", instablog: @instablog %>

<br>

<div>
  <%= link_to "Back to instablogs", instablogs_path %>
</div>
  </div>
  </div>
